<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>        
        <add name="dbsur_Connection" connectionString="XpoProvider=MySql;server=185.224.137.20;port=3306;user id=u983648979_loto; password=3McfvgblzEpj; database=u983648979_dbsur;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
</configuration>